body{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 15px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    background-color: gray;
}

header #head-title {
  text-align: left;
  color: lightgreen;
  font-weight: 600;
}

header #head-subtitle {
  text-align: right;
  color: lightskyblue;
  padding-right: 10px;
  text-decoration: underline;
  font-style: italic;
}

header #head-divider {
  border-color: lightgreen;
  margin-left: 10px;
  margin-right: 10px;
}

main #playlist-div #playlist-head {
  color: lightskyblue;
}
